:root {
    --pic-container-width: 300px;
    --default-border: solid 1px #dbdbdb;
    --defualt-white: #FFFFFF;
}


body {
    margin: 0;
    padding: 0;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background-color: #fafafa !important;
}

#root, .App {
    height: 100vh !important;
}

.nav > li > a {
    position: relative !important;
    display: block !important;
    padding: 10px 15px !important;
}

.sideNavLinks a {
    font-weight: lighter;
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.sideNav {
    position: absolute;
    display: inline-block;
    height: 100vh;
    background-color: #2b323a;
    color: rgba(255, 255, 255, 0.5) !important;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 64px;
    min-height: 744px;
    overflow: hidden;
    z-index: 1000;
}


.sideNav > .sideNavLinks > ul > ul > li:nth-child(1) {
    margin-top: 20px;
}

.sideNav > .sideNavLinks > ul > ul > li {
    list-style-type: none;
    margin-bottom: 10px;
    height: 37px;
    position: relative;
    right: 15px;
    top: 64px;
}

.sideNav > .sideNavLinks > ul > ul > li > a > i {
    vertical-align: text-bottom;
    padding-right: 10px;
}

.sideNav > .sideNavLinks > ul > ul > li > a {
    font-size: 0;
}

.sideNav:hover > .sideNavLinks > ul > ul > li > a {
    transition: font-size 0.5s ease-in-out;
    font-size: 16px !important;
    padding-right: 5px;
}

.sideNav:hover {
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width:170px;
}

.content {
    background-color: #fafafa !important;
    height: 100% !important;
}

/*.content-signin {*/
    /*position: relative;*/
    /*top: 64px;*/
    /*-webkit-transition: padding 0.4s ease-in-out;*/
    /*-moz-transition: padding 0.4s ease-in-out;*/
    /*-o-transition: padding 0.4s ease-in-out;*/
    /*transition: padding 0.4s ease-in-out;*/
    /*padding: 30px 30px 30px 94px;*/
    /*height: calc(100vh - 64px);*/
/*}*/

.sideNav:hover ~ .content {
    -webkit-transition: padding 0.4s ease-in-out;
    -moz-transition: padding 0.4s ease-in-out;
    -o-transition: padding 0.4s ease-in-out;
    transition: padding 0.4s ease-in-out;
    padding: 30px 30px 30px 192px;
}

.card-styles {
    height: calc(100vh - 124px);
    margin-bottom: 0 !important;
}

.card-rounded {
    border-radius: 20px !important;
}

.content-container {
    height: 100%;
    padding: 40px 50px 50px 50px;
}

.card-styles-login {
    height: calc(100vh - 270px);
    width: 40%;
    margin: auto;
    margin-bottom: 0 !important;
    min-height: 650px;
    min-width: 515px;
}

.card-styles-signin {
    height: calc(100vh - 270px);
    width: 40%;
    margin: auto;
    margin-bottom: 0 !important;
    min-height: 650px;
    min-width: 515px;
}

.input-styles {
    width: 100%;
}

.margin-auto {
    margin: auto !important;
}

.form-group {
    padding: 0 !important;
    margin-top: 40px !important;
}

.form-control:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

input ~ label {
    top: -9px !important;
}

input:focus ~ label {
    -webkit-transition: top 0.2s ease-in-out !important;
    -moz-transition: top 0.2s ease-in-out !important;
    -o-transition: top 0.2s ease-in-out !important;
    transition: top 0.2s ease-in-out !important;
    top: -15px !important;
}

label::after {
    border: none !important;
    background-color: transparent !important;
}

.form-control {
    font-size: 18px;
}

.form-group .form-control:focus {
    border-color: #ced4da !important;
}

.center {
    text-align: center !important;
}

.form-padding {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

input:not(:placeholder-shown) ~ label {
    top: -15px !important;
}

.forgot-pass {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.sign-up-now, .has-account {
    color: #17a2b8;
    cursor: pointer;
}

.no-padding {padding: 0 !important;}

.btn-container {
    margin-bottom: 30px !important;
}

.help-block {
    color: red !important;
}

.help-block-errMessage {
    color: red !important;
    text-align: center;
}

.signup-footer-container {
    position: absolute;
    top: calc(100vh - 110px);
    left: 0;
    background-color: transparent;
    height: 110px;
    width: 100%;
}

.signup-link-container {
    height: 100%;
    max-width: 1012px;
    margin: auto;
}


.signup-link-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 38px 0;
}

.signup-link-ul {
    padding: 0 !important;
    width: 70%;
    margin-right: 0;
    display: inline-block;
}

.signup-link {
    list-style-type: none !important;
    display: inline-block;
    margin-right: 15px;
    font-size: 13px;
    color: #003569;
}

.signup-copyright {
    display: inline-block;
    font-size: 11px;
    text-align: right;
    width: 30%;
}

@media only screen and (max-width: 1008px) {
    .signup-link-ul {
        max-width: 360px;
        margin: auto;
        width: 100%;
        display: block;
    }

    .signup-copyright {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center;
    }
}

.signup-content {
    height: calc(100% - 110px);

}

.content-gutter, .content-gutter-signin {
    margin: 0 auto;
    max-width: 935px;
    width: 100%;
    padding-top: 40px;
}

.content-gutter-signin {
    padding-top: 135px;
}

.card-container {
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: auto auto 10px auto;
    height: auto;
}

.insta-pic {
    margin: auto;
    background-repeat: no-repeat;
    height: 64px;
    width: 185px;
    background-image: url('assets/insta.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 -7px;
}

.insta-pic-signin {
    margin: auto auto 20px auto;
    background-repeat: no-repeat;
    height: 64px;
    width: 185px;
    background-image: url('assets/insta.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 -7px;
}

.header-container {
    width: 100%;
    height: 75px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.header-gutter {
    max-width: 1000px;
    height: 100%;
    padding: 20px 0;
    margin: auto;
}

.logo-container, .logo-divider, .logo-text-container, .asset-container, .header-link-container, .media-container, .information-container {
    height: 100%;
    display: inline-block;
}

.asset-container {
    max-width: 200px;
}

.logo-container {
    width: 50px;
    background-image: url("assets/logo.png");
    background-repeat: no-repeat;
    background-size: 70% 102%;
}

.logo-divider {
    width: 2px;
    border: 1px solid black;
}

.logo-text-container {
    width: 148px;
    background-image: url("assets/insta.png");
    background-repeat: no-repeat;
    background-size: 81% 115%;
    background-position: 18px;
}

.searchbar-container {
    display: inline-block;
    height: 85%;
    width: 254px;
    cursor: text;
    background: #fafafa;
    border: var(--default-border);
    color: #999;
    margin-left: 164px;
    margin-right: 228px;
    vertical-align: top;
    position: relative;
    top: 2px;
    border-radius: 3px;
}

.searchbar-input {
    background: #fafafa;
    border: none !important;
    background-image: url("assets/search3.png");
    background-repeat: no-repeat;
    background-size: 8% 36%;
    background-position: 57px 9.3px;
    width: 94%;
}

.searchbar-input:focus {
    outline: none !important;
    display: inline-block;
    /*background-image: none;*/
}

.searchbar-input::placeholder {
    text-align: center;
    color: #999;
    font-weight: lighter;
    font-size: 14px;
}

.content-header {
    height: calc(100vh - 75px);
    /*height: 100%;*/
}

.landing-gutter {
    max-width: 920px;
    margin: auto;
    height: 100%;
    padding-top: 60px;
    overflow: hidden;
}

.explore-gutter {
    max-width: 935px;
    height: 100%;
    box-sizing: content-box;
    padding: 40px 20px 0;
    padding-top: 60px;
    margin: auto;
}

.media-container {
    /*width: 68%;*/
    /*padding-right: 50px;*/
    width: 646px;
    padding-right: 30px;
    overflow: auto;
}

.media-container::-webkit-scrollbar {
    display: none;
}

.information-container {
    width: calc(100% - 666px);
    vertical-align: top;
}

.profile-gutter {
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

.user-info-container {
    width: 100%;
    padding-top: 35px;
    height: 250px;
}

.profile-pic-container {
    max-width: var(--pic-container-width);
    height: 100%;
    display: inline-block;
}

.profile-pic-container-inner {
    width: 190px;
    margin: auto;
    height: 85%;
    border: var(--default-border);
    border-radius: 156px;
    position: relative;
}

.profile-info-container {
    width: calc(1000px - var(--pic-container-width));
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.profile-info-content-container {
    width: 340px;
    margin-left: 150px;
    height: 80%;
}

.information-container-top {
    height: 33%;
    padding-top: 20px;
}

.profile-username, .profile-edit {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.profile-username {
    font-size: 25px;
    font-weight: lighter;
}

.btn-edit {
    background: transparent;
    border: var(--default-border);
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding-top: 1px;
}

.cog-icon {
    background-image: url('./assets/cog.png');
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 15px;
    cursor: pointer;
}

.information-container-middle {
    height: 20%;
    padding-top: 12px;
}

.following, .followers, .posts {
    height: 100%;
    width: 33%;
    display: inline-block;
}

.information-container-bottom {
    height: 45%;
    width: 100%;
}

.first-last-name {
    display: block;
    height: 33px;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: 600;
    color: #262626;
}

.bio {
    display: block;
    width: 100%;
    height: 35px;
}

.profile-nav-tabs {
    display: inherit;
    border-top: var(--default-border) !important;
    border-bottom: none !important;
    padding: 0 24px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 1px solid #262626 !important;
    border-bottom: none !important;
}

.nav-tabs-font {
    font-size: 13px !important;
}

.nav-tabs.tabs-center > li {
    margin-right: 35px !important;
}

.overall-container {
    height: 293px;
    width: 293px;
    display: inline-block;
    margin: 0 28px 28px 0;
}

.media-post-profile {
    height: 100%;
    width: 100%;
}

.overall-container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: black;
    font-size: 20px;
    padding: 147px !important;
    text-align: center;
}

.overall-container:hover .overlay {
    opacity: .7 !important;
}

.overall-container:hover .inline-comments {
    position: absolute !important;
    left: 35%;
    color: white !important;
}

.overall-container:hover .inline-likes {
    position: absolute !important;
    left: 52%;
    color: white !important;
}


.inline-comments, .inline-likes {
    position: absolute;
    top: 46%;
    color: transparent;
    font-size: 20px !important;
}

.font {
    font-family: 'Raleway', sans-serif;
    vertical-align: text-top;
}

.card-gutter {
    padding: 30px 40px 40px 40px;
}

.card-gutter-signin {
    padding: 30px 40px 25px 40px;
}

.desc-signup {
    color: #999;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 20px;
}

.facebook-logo {
    background-image: url("./assets/facebook.png");
    height: 17px;
    width: 17px;
    display: inline-block;
    vertical-align: sub;
    position: relative;
    right: 5px;
    background-size: 100% 100%;
    background-color: transparent;
}

.facebook-signup-btn, .facebook-login-btn, .facebook-login-btn-login {
    text-align: center;
    color: white;
    font-weight: 500;
    width: 100%;
    background-color: #3897f0;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14.4px;
    height: 32px;
    margin-bottom: 15px;
    padding-bottom: 1.5px;
}

.facebook-login-btn {
    background-color: transparent !important;
    color: #385185 !important;
}

.divider-container {
    height: 40px;
    width: 100%;
}

.divider-one, .divider-two {
    height: 100%;
    width: 40%;
    display: inline-block;
    border-top: solid 0.1px #dbdbdb;
    position: relative;
    top: 9px;
}

.or-text {
    height: 100%;
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 13.6px;
    color: #999;
    font-weight: 600;
}

.signup-val {
    border: none !important;
    background: #fafafa !important;;
    padding-left: 9px;
    width: 92%;
    font-size: 12px;
    color: #999;
    line-height: 36px;
    height: 34px;
}

.signup-val:focus {
    outline: none !important;
}

.signup-val-container, .signup-val-container-last, .signin-val-container, .signin-val-container-last {
    border: 1px solid #efefef;
    background: #fafafa !important;
    width: 100%;
    margin: auto auto 6px auto;
}

.signup-val-container-last {
    margin: auto auto 15px auto ;
}

input:-webkit-autofill {
    background: inherit !important;
}

.signup-btn,  .signin-btn {
    margin-bottom: 15px;
}

.signin-btn {
    margin-top: 9px;
}

.privacy-text {
    color: #999;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.have-an-account-container {
    width: 100%;
    background-color: #fff;
    height: auto;
    max-width: 350px;
    margin: auto;
    border: 1px solid #e6e6e6;
}

.link-signin {
    height: 70px;
    text-align: center;
    padding-top: 23px;
    font-size: 14px;
    font-weight: 200;
}

.link-signup {
    height: 70px;
    text-align: center;
    padding-top: 23px;
    font-size: 14px;
    font-weight: 200;
}

.link-signin > a, .link-signup > a {
    color: #3897f0;
    cursor: pointer;
    font-weight: 500;
}

.error-signup {
    height: 20px;
}

.forgot-password {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #003569;
}

.get-app {
    max-width: 350px;
    margin: 15px auto 20px auto;
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.get-app-link-container {
    max-width: 350px;
    margin: auto;
    height: 75px;
}

.app-store {
    height: 50px;
    width: 175px;
    background-image: url("./assets/appDownload.png");
    background-size: 78% 76%;
    background-repeat: no-repeat;
    background-position: 28px 0px;
    display: inline-block;
    cursor: pointer;
}

.google-play {
    height: 50px;
    width: 175px;
    background-image: url("./assets/googleDownload.png");
    background-size: 78% 76%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.facebook-login-btn-login.signin-btn:disabled {
    opacity: .3;
}

.landing-profile {
    height: 80px;
    padding-bottom: 30px;
}

.profile-pic-landing {
    height: 100%;
    width: 50px;
    border-radius: 34px;
    border: var(--default-border);
    display: inline-block;
    /*background-image: url("./assets/media/media1.PNG");*/
}

.profile-info-landing {
    display: inline-block;
    width: calc(100% - 50px);
    height: 100%;
    vertical-align: top;
    padding-top: 6px;
}

.username-landing, .name-landing {
    color: #262626;
    padding-left: 15px;
}

.username-landing {
    font-size: 13px;
    font-weight: 600;
}

.name-landing {
    font-size: 11px;
}

.user-profile {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.stories-container {
    height: 215px;
    background-color: #fff;
}

.stories-header {
    height: 30px;
    padding: 10px 16px 0 16px;
}

.stories-title, .stories-watch-all {
    width: 50%;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

.stories-title {
    color: #999;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500!important;
}

.stories-watch-all {
    color: #262626;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-align: right;
}

.stories-container-inner {
    height: 100%;
    overflow-y: auto;
}

.profilePic {
    height: 100%;
    width: 100%;
    border-radius: 88px;
}

.landing-media-container {
    display: block;
    width: 100%;
    /*max-height: 700px;*/
    max-height: 1000px;
    background-color: #fff;
    margin-bottom: 75px;
    border: var(--default-border);
}

.landing-media-header {
    width: 100%;
    height: 55px;
    border-bottom: var(--default-border);
    padding: 11px;
}

.landing-media-pic {
    width: 100%;
    /*height: 420px;*/
    height: 614px;
    border-bottom: var(--default-border);
}

.landing-media-img {
    /*height: 100%;*/
    /*width: 100%*/
    height: 614px;
    width: 614px;
}

.landing-media-footer {
    height: auto;
    width: 100%;
    padding: 10px 15px;
    border: var(--default-border);
}

.landing-media-add-comment {
    width: 100%;
    height: 50px;
    padding: 12px;
    border: var(--default-border);
}

.landing-comments {
    position: relative;
    left: 10px;
    font-size: 27px;
    top: 2px;
    vertical-align: super;
}
.like-comment {
    width: 30px;
    text-align: center;
}

.liked-container {
    height: 25px;
    width: 100%;
}

.landing-bookmark {
    width: calc(100% - 75px);
    position: relative;
    text-align: right;
    font-size: 33px !important;
    font-weight: lighter !important;
    left: 20px;
    cursor: pointer;
}

.last-liked-profile-container {
    width: 25px;
    height: 100%;
    border: var(--default-border);
    border-radius: 100px;
    display: inline-block;
}

.last-liked-img, .follows-you-img, .arrow-img1, .arrow-img2 {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    vertical-align: top;
}

.last-liked-username {
    height: 100%;
    width: 53px;
    font-size: 13px;
    display: inline-block;
    vertical-align: bottom;
    padding: 2px 0 0 5px;
}

.username, .other-likes {
    color: #262626;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    left: 4px;
}

.other-likes, .other-and {
    display: inline-block;
    font-size: 13px;
    vertical-align: text-top;
    position: relative;
    left: 7px;
}

.other-likes {
    position: relative;
    left: 10px;
}

.poster-profile-pic {
    height: 100%;
    width: 31px;
    border-radius: 30px;
    border: var(--default-border);
    display: inline-block;
}

.poster-profile-pic-img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.poster-username-container {
    width: calc(100% - 75px);
    height: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-top: 2px;
    vertical-align: text-top;
    font-size: 14px;
    color: #262626;
    font-weight: 600;
}

.poster-username-container::first-line {
    cursor: pointer;
}

.ellipsis {
    width: 40px;
    height: 100%;
    display: inline-block;
    vertical-align: text-top;
}

.ellipsis-img {
    height: 65%;
    width: 77%;
    vertical-align: top;
    position: relative;
    left: 5px;
    cursor: pointer;
}

.landing-comments-container {
    padding-top: 10px;
    height: auto;
}

.commenter-name {
    height: auto;
    width: auto;
    display: inline-block;
    font-size: 14px;
    color: #262626;
    font-weight: 600;
}

.landing-comments-container {
    max-height: 300px;
    width: 100%;
}

.comment-text {
    font-size: 14px;
    padding-left: 5px;
    color: #262626;
}

.like-comment-landing {
    font-size: 10px !important;
    text-align: right;
    display: inline-block !important;
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;

}

.comment-container-landing-inner {
    position: relative;
}

.view-comments-span {
    font-size: 15px;
    color: #003569;
    cursor: pointer;
}

.add-comment-input {
    border: none !important;
    width: calc(100% - 58px);
    font-size: 13px;
}

.add-comment-input:focus {
    outline: none !important;
}

.add-comment-input::placeholder {
    color: #999;
    font-size: 13px;
    font-weight: 600;
    opacity: .8;
}

.add-comment-btn, .add-comment-input {
    display: inline-block;
}

.add-comment-btn {
    font-weight: 600;
    color: #3897f0;
    position: relative;
    bottom: 5px;
    max-width: 58px;
    border: none !important;
    background-color: transparent !important;
}

.add-comment-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.heart-container, .comment-container {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: top;
}

.comment-container {
    /*position: relative;*/
    /*left: 15px;*/
    margin-left: 15px;
}

.heart-img-landing, .comment-img-landing {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/*option modal styles*/
.hide {
    display: none !important;
}

.optionsModal, .unfollowModal, .profileOptionsModal, .createPostModal, .profilePicModal  {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.65);
    top: 0%;
    color: rgb(15, 15, 15);
    left: 0% !important;
}

.errorTitle{
    margin: 41px;
    position: relative;
    top: -18px;
}

.okayButton{
    display: inline-block;
    margin: -39px 0px 21px 1%;
    left: -49px;
}

.profile-modal-content {
    border-radius: 11px;
    color: rgb(20, 20, 20);
    width: 21%;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    box-shadow: darkgrey 0px 0px 2px;
    background-color: var(--defualt-white);
}

.options-list-container {
    border-radius: 11px;
    background-color: var(--defualt-white) !important;
    width: 100%;
}

.no-styles {
    list-style-type: none !important;
}

.option-ul {
    padding: 0 !important;
    margin: 0;
}

.options-li, .options-li-unfollow {
    padding: 13px 13px 13px 13px;
    text-align: center;
    border-bottom: var(--default-border);
    font-size: 14px;
    cursor: pointer;
}

.profile-options-li {
    padding: 13px 13px 13px 13px;
    text-align: center;
    border-bottom: var(--default-border);
    font-size: 14px;
    cursor: pointer;
}

.profile-options-li:nth-of-type(2) {
    color: #ed4956;
    font-weight: 700;
}

.profile-options-li:nth-last-of-type(1) {
    border: none !important;
}


.options-li-unfollow:nth-of-type(1) {
    border: var(--default-border);
}

.options-li:nth-of-type(1), .options-li:nth-of-type(2), .options-li-unfollow:nth-of-type(1)  {
    color: #ed4956;
    font-weight: 700;
}

.options-li:nth-last-of-type(1), .options-li-unfollow:nth-last-of-type(1) {
    border-bottom: none !important;
}

.img-name-container {
    width: 50%;
    margin: auto;
    padding: 25px 0;
    background-color: var(--defualt-white);
}

.unfollow-img-container {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: var(--default-border);
    margin: auto;
}

.unfollow-user-img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.unfollow-username {
    font-size: 14px;
    text-align: center;
    padding-bottom: 25px;
}

.stories-container-stories {
    height: 100%;
    width: 100%;
    background-color: #262626 !important;
}

.explore-overall-container, .settings-container {
    /*height: calc(100% - 75px);*/
    height: auto;
    width: 100%;
}

.stories-gutter {
    max-width: 485px;
    min-width: 400px;
    height: 100%;
    margin: auto;
}

.stories-header-container {
    height: 60px;
    width: 100%;
    padding-top: 25px;
    box-sizing: border-box;
}

.profile-info {
    width: calc(100% - 95px);
    height: 100%;
    display: inline-block;
}

.stories-username, .stories-profile-img-container, .stories-posted-at, .stories-paused {
    display: inline-block;
}

.stories-profile-img-container {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    border: var(--default-border);
}

.stories-profile-img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.stories-username {
    padding-left: 12px;
    width: auto;
    height: 100%;
    vertical-align: top;
    color: #FAFAFA;
}

.stories-posted-at {
    padding-left: 12px;
    vertical-align: top;
    color: #A1A1A1
}

.stories-option {
    width: 30px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.stories-paused {
    background-color: #1C1C1C;
    text-align: center;
    padding: 2px;
    height: 25px;
    width: 50px;
    font-size: 12px;
    color: #777676;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 15px;
    font-weight: 600;
}

.stories-ellipsis {
    height: 100%;
    width: 100%;
    color: #525252;
}

.list-stories-container {
    padding: 10px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.list-stories-profile-img-container, .list-stories-username, .list-stories-time-posted, .list-stories-username-time-container {
    display: inline-block;
}

.list-stories-profile-img-container {
    height: 40px;
    width: 40px;
    background: linear-gradient(#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    margin-right: 15px;
    padding:2px;
    border-radius: 100px;
}

.list-stories-img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    vertical-align: inherit;
}

.list-stories-username-time-container {
    height: 100%;
    width: calc(100% - 55px);
}

.list-stories-username, .list-stories-time-posted {
    height: 50%;
    width: 100%;
}

.list-stories-username {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    height: calc(100% - 25px);
}

.list-stories-time-posted {
    font-size: 10px;
    line-height: 12px;
    color: #999;
    height: 14px;
    position: relative;
    top: -7px;
}

.stories-media-container {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
}

.table-div{
    display:table;
    width: 100%;
    padding-top: 10px;
    height: 14px;
}
.tr-div{
    display:table-row;
}
.td-div{
    display:table-cell;
    background-color: rgba(255,255,255,.35);
    border:1px solid #262626 !important;
}

.completed {
    background: #fff !important;
}

.story-media-containerInfo {
    height: calc(100% - 35px);
    width: 100%;
    position: relative;
    top: 23px;
}

.story-img {
    height: 100%;
    width: 100%;
}

.white {
    background: #FFF;
}

.exit-stories-container {
    position: absolute;
    top: 28px;
    right: -34px;
    height: 20px;
    width: 20px;
    background: url(./assets/sprite.png) -2375px -401px;
    background-size: 600px;
    cursor: pointer;
}

.exit-sprite {
    height: 100%;
    width: 100%;
}

.header-icons-container, .header-compass-container, .header-heart-container, .header-profile-container {
    display: inline-block;
    cursor: pointer;
}

.header-icons-container {
    height: 100%;
    width: 154px;
    vertical-align: top;
    position: relative;
    top: 5px;
}

.header-heart-container, .header-profile-container {
    margin-left: 30px;
}

.explore-discover-container {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 45px;
}

.discover-people {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    display: inline;
}

.see-all {
    color: #3897f0;
    float: right;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
}

.suggested-container {
    width: 100%;
    height: 200px;
    /*overflow-x: auto;*/
    overflow-x: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    position: relative;
    cursor: pointer;
}
.suggested-container::-webkit-scrollbar {
    display: none;
}

.suggested-overlay {
    height: 200px;
    width: 935px;
    background: linear-gradient(to left, #FFF, transparent 7%);
    position: absolute;
    background-position: right;
    top: 0;
}

.follows-you-overall-container {
    box-sizing: border-box;
    width: 180px;
    height: 200px;
    padding: 16px;
    display: inline-block;
    background-color: #FFF;
    border: var(--default-border);
    border-radius: 3px;
    margin: 0 13px;
    position: relative;
}

.follows-you-overall-container:nth-last-of-type(2) {
    margin: 0 0 0 13px;
}


.follows-you-overall-container:nth-child(1) {
    margin-left: 25px;
}

.follows-you-profile-img {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
    border: var(--default-border);
    border-radius: 100px;
}

.follows-you-username {
    display: block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-top: 12px;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.follows-you-description {
    margin-top: 3px;
    white-space: pre-wrap;
    text-align: center;
    color: #999;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
    height: 28px;
}

.follows-you-follow-btn {
    background-color: #3897f0;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin: auto;
    height: 30px;
    position: absolute;
    left: 56px;
    z-index: 1;
}

.explore-left, .explore-right {
    height: 25px;
    width: 25px;
    display: inline-block;
    position: absolute;
    top: 100px;
    background-color: #9c9697 !important;
    border-radius: 100px;
    background-image: url("./assets/sprite.png");
    background-position: -499px -414.5px;
    background-repeat: no-repeat;
    background-size: 550px;
    cursor: pointer;
}

.explore-left {
    left: 0px;
}

.explore-right {
right: 20px;
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

@media only screen and (max-width: 935px) {
    .suggested-overlay {
        width: 95%;
    }
}

.explore-media-overall-container {
    height: auto;
    width: 100%;
    margin-top: 100px;
}

.header-explore-text {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 16px;
    text-align: left;
    height: 18px;
}

.explore-media-inner-container {
    height: auto;
    width: 100%;
}

.explore-media-list-overall {
    display: inline-block;
    height: 293px;
    width: 293px;
    margin: 0 28px 28px 0;
    position: relative;
}

.explore-media-list-overall:nth-child(3n) {
    margin-right: 0 !important;
}


.explore-media-list-overall:hover .overlay {
    opacity: .7 !important;
}

.explore-media-list-overall:hover .inline-comments {
    position: absolute !important;
    left: 35%;
    color: white !important;
}

.explore-media-list-overall:hover .inline-likes {
    position: absolute !important;
    left: 52%;
    color: white !important;
}

.post-modal-overall-container {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.65);
    top: 0;
    color: rgb(15, 15, 15);
    left: 0 !important;
    overflow-y: hidden;
    position: fixed;
}

.post-modal-content-container {
    max-width: 1000px;
    min-width: 800px;
    max-height: 1000px;
    min-height: 800px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -41%);
}

.post-modal-page-padding {
    padding: 20px 40px;
    pointer-events: none;
    height: 100%;
    overflow: auto;
    width: auto;
    z-index: 1;
}

.post-modal-gutter {
    max-width: 915px;
    margin: auto;
    pointer-events: auto;
    width: 100%;
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    max-height: 800px;
    min-height: 684px;
    min-width: 690px;
    height: 40%;
}

.post-modal-content-container {
    width: 100%;
    padding: 0;
    position: relative;
}

.post-modal-left-img {
    height: 100%;
    width: 100%;
}

.post-modal-img-container {
    height: inherit;
    width: 55%;
    display: inline-block;
}

.post-modal-img, .post-modal-content-left-ellipsis-img {
    height: 100%;
    width: 100%;
}

.post-modal-left-img {
    border-radius: 100px;
}

.post-modal-content-left-container {
    background-color: #FFF;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 45%;
    height: inherit;
}

.post-modal-content-header {
    height: 72px;
    width: 100%;
    padding: 16px;
    position: relative;
}

.post-modal-left-img-container {
    height: 36px;
    width: 36px;
    border-radius: 100px;
    display: inline-block;
    margin-right: 20px;
}

.post-modal-content-left-top-container {
    display: inline-block;
    vertical-align: sub;
    vertical-align: -webkit-baseline-middle;
    max-width: 333px;
}

.post-modal-content-left-username, .post-modal-content-left-dot, .post-modal-content-left-follow {
    display: inline-block;
    width: auto;
}

.post-modal-content-left-dot {
    color: #262626;
}

.post-modal-content-left-username {
    max-width: 200px;
}

.post-modal-content-left-username, .post-modal-content-left-dot {
    margin-right: 7px;
}

.post-modal-content-left-username {
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.post-modal-content-left-dot {
    font-weight: bolder;
    font-size: 15px;
    vertical-align: top;
}

.post-modal-content-left-follow {
    vertical-align: top;
    color: #3897f0;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    top: 2px;
}

.post-modal-comments-container {
    width: 100%;
    height: calc(100% - 231px);
    overflow: auto;
}

.post-modal-content-left-ellipsis-container {
    width: 29px;
    height: 26px;
    display: inline-block;
    position: absolute;
    right: 23px;
}

.post-modal-likes-media-container {
    min-height: 100px;
    padding: 5px;
    border: var(--default-border);
    border-collapse: collapse;
    position: absolute;
    bottom: 58px;
    width: 100%;
}

.post-modal-add-comment {
    width: 100%;
    min-height: 50px;
    padding: 12px;
    border: var(--default-border);
    position: absolute;
    bottom: 0;
}

.post-media-add-comment-btn {
    font-weight: 600;
    color: #3897f0;
    position: relative;
    max-width: 58px;
    border: none !important;
    background-color: transparent !important;
}
.post-modal-content-grid {
    width: 100%;
    height: 100%;
}

.comment-list-container {
    padding: 12px 16px;
    margin-bottom: 16px;
    max-height: 80px;
}

.comment-list-img-container {
    height: 36px;
    width: 36px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
}

.comment-list-img, .notifications-img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.comment-list-username {
    padding-left: 20px;
    font-weight: 600;
    text-overflow: ellipsis;
    color: #262626;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.comment-list-info-container {
    padding-left: 20px;
    color: #999;
    font-size: 15px;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.comment-list-comment {
    text-align: -webkit-match-parent;
}

.comment-list-username-comment-container {
    max-width: 77%;
    height: 100%;
    display: inline-block;
}

.comment-list-created-at, .comment-list-comment-likes, .comment-list-reply {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    cursor: default;
    margin-right: 16px;
}

.comment-list-reply {
    margin-right: 0;
}

@media only screen and (max-width: 894px) {
    .post-modal-content-grid {
        min-height: 400px !important;
    }
}

@media only screen and (max-height: 894px) {
    .post-modal-gutter {
        height: 80%;
        min-height: 400px;
    }
}
.post-modal-comments-container::-webkit-scrollbar, .notifications-overall-container::-webkit-scrollbar {
    display: none;
}

.notifications-overall-container, .searchbar-modal-overall-container {
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px rgba(0,0,0,.0975);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    white-space: normal;
    z-index: 11;
    height: calc(100%);
    width: 99vw;
    background-color: transparent;
    top: 0;
}

.notifications-gutter, .searchbar-gutter {
    width: 875px;
    margin: auto;
    height: 362px;
    position: relative;
    top: 75px;
}

.notifications-content {
    height:100%;
    width: 500px;
    background-color: #FFF;
    position: absolute;
    right: 0;
    text-decoration: none !important;
    border: var(--default-border);
}

.searchbar-content {
    max-height:100%;
    background-color: #FFF;
    margin: auto;
    text-decoration: none !important;
    border: var(--default-border);
    width: 300px;
    overflow: auto;
    border-radius: 5px;
}

.searchbar-content::-webkit-scrollbar {
    display: none;
}

.cell-padding {
    height: 70px;
    padding: 12px 16px 13px;
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    text-decoration: none !important;
}

.notifications-img-container {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    position: relative;
    top: -5px;
}

.notification-info-container {
    width: calc(100% - 40px - 16px);
    height: 100%;
    border-bottom: var(--default-border);
}

.notification-username {
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.notification-text {
    color: #262626;
    display: block;
    margin-right: 12px;
    cursor: pointer;
    font-size: 13px;
}

.notification-text-container {
    width: calc(100% - 70px);
    display: inline-block;
}

.notification-time {
    font-size: 15px;
    line-height: 18px;
    color: #999;
    margin-left: 5px;
}

.notification-follow-btn {
    border: 1px solid transparent;
    background-color: #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
}

.notification-point, .searchbar-point {
    border-color: transparent transparent #FFF;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;
    top: -10px;
    right: 12px;
    width: 0;
    z-index: 100000;
    position: absolute;
}

.no-post-container {
    text-align: center;
    height: 100%;
}

.no-posts-text {
    margin-top: 50px;
    font-size: 20px;
}

.new-media-text {
    font-size: 20px;
    color: #007bff;
}

.settings-gutter {
    max-width: 1000px;
    margin: auto;
    margin-top: 75px;

}

.settings-card-container {
    background-color: #fff;
    border: var(--default-border);
    min-height: 700px;
    display: flex;
}

.settings-nav-tabs {
    float: left;
    border-right: var(--default-border);
    display: inline-block;
    width: 25%;
    flex-direction: column;
}

.active > #profile.side-nav-profile, .active > #password.side-nav-profile {
    border-top: none !important;
    border-left: 2px solid black !important;
    color: #262626;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 20px;
    padding: 16px 16px 16px 30px !important;
    width: calc(100% - 48px);
    border-bottom: none !important;
    text-decoration: none !important;
}


#profile.side-nav-profile, #password.side-nav-profile {
    width: calc(100% - 48px);
    padding: 16px 16px 16px 30px !important;
    font-size: 14px !important;
    line-height: 20px;
    border-bottom: none !important;
    text-decoration: none !important;
}

#profile.side-nav-profile:focus, #password.side-nav-profile:focus {
    outline: none !important;
}
.settings-tab-content.active {
    display: block !important;
}

.settings-tab-content {
    display: none !important;
    padding-bottom: 50px;
    width: 100%;
}

.profile-footer-container {
    left: 0;
    background-color: transparent;
    height: 110px;
    width: 100%;
}

.settings-content-container {
    padding: 0 20px;
}

.profile-header-container {
    margin-top: 35px;
}

.profile-img-container {
    margin-left: 100px;
    height: 40px;
    width: 40px;
    vertical-align: top;
    margin-right: 30px;
}

.profile-img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.profile-img-container, .profile-header-username, .profile-header-profile-username, .username-modal-btn-container {
    display: inline-block;
}

.username-modal-btn-container {
    width: calc(100% - 100px - 40px - 30px);
    height: 40px;
}

.profile-header-username {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

.profile-header-profile-username {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.change-profile-img-btn {
    position: relative;
    top: -7px;
    text-align: left;
    border: 0;
    color: #3897f0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    display: inline;
    cursor: pointer;
}

.settings-profile-content {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.settings-label {
    display: inline-block;
    padding-right: 32px;
    margin-top: 6px;
    box-sizing: border-box;
    color: #262626;
    -webkit-box-flex: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 32px;
    width: 144px;
    text-align: right;
}

.settings-profile-input {
    width: calc(100% - 20px - 32px - 240px);
    min-width: 200px;
    border: 1px solid #efefef !important;
    border-radius: 3px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
    vertical-align: top;
}

.private-info {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    left: 178px;
    margin-top: 30px;
}

.bio-label {
    vertical-align: top;
}

.bio-textarea {
    height: 80px;
}

.email-input {
    margin-top: 10px;
}

.settings-profile-submit-btn, .settings-password-submit-btn {
    border: 1px solid transparent;
    background-color: #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    left: 178px;
    margin-top: 30px;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
}

.password-changed-confirmation {
    color: green;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    left: 178px;
    position: relative;
}

.profile-changed-confirmation {
    color: green;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    .settings-nav-tabs {
        display: none;
    }

    .settings-tab-content, .settings-tab-content.active {
        margin-left: 0;
    }

    .profile-img-container {
        margin-left: 0;
    }

    .settings-card-container {
        margin: 20px;
    }
}

.create-modal-card-container {
    height: auto;
    width: 500px;
    background-color: #FFF;
    /*padding: 20px;*/
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.disable-follow-btn {
    opacity: .7;
    cursor: auto !important;
}

.profile-igtv-container-padding {
    padding: 80px 100px;
}

.profile-igtv-img-container {
    height: 62px;
    width: 62px;
    margin: auto;
    display: block;
}

.profile-igtv-img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    text-align: center;
}

.profile-igtv-upload-text {
    margin-top: 25px;
    color: #262626;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    display: block;

}

.profile-igtv-details {
    color: #262626;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 15px;
}

.profile-igtv-btn {
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.searchbar-item-container {
    height: 80px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.searchbar-item-img-container {
    /*height: 100%;*/
    /*width: 67px;*/
    /*padding: 8px 15px 10px 10px;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    height: 92%;
    width: 55px;
    padding: 2px;
    margin: 5px 15px 10px 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 100px;
    background: linear-gradient(#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}

.searchbar-item-img-inner {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #FFF;
    background: linear-gradient(#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}

.searchbar-item-img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.searchbar-item-info-container {
    height: 100%;
    width: calc(100% - 80px);
    display: inline-block;
}

.searchbar-item-username {
    height: 36%;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position: relative;
    top: 5px;
    line-height: 22px;
    margin-bottom: -4px;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    color: #262626;
    text-align: left;
}

.searchbar-item-name {
    height: 50%;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position: relative;
    top: 5px;
    font-weight: 300;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    font-size: 14px;
    text-align: left;
}

.emptySearchBar {
    height: 50px;
    width: 100%;
    color: #999;
    padding: 15px;
    text-align: center;
    position: relative;
    font-size: 15px;
    font-weight: 500;
}

.create-post-field-name {
    display: inline-block;
    margin-top: 6px;
    box-sizing: border-box;
    color: #262626;
    -webkit-box-flex: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-right: 5px;
}

.create-post-field-input {
    min-width: 200px;
    border: 1px solid #efefef !important;
    border-radius: 3px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
    vertical-align: top;
}

.button-submit-container {
    margin-top: 10px;
    border-top: var(--default-border);
}

.submit-upload-btn, .cancel-upload-btn {
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: green;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14.4px;
    height: 32px;
    padding-bottom: 1.5px;
    float: right;
    margin-top: 20px;
}

.cancel-upload-btn {
    background-color: lightgrey;
    float: left;
}

.preview-upload-img {
    height: 100%;
    max-height: 500px;
    min-height: 300px;
    margin: auto;
    display: block;
}

.files {
    padding: 20px;
}

.modal-footer {
    padding: 10px;
    border-top: var(--default-border);
}

.cancel-upload, .submit-upload {
    text-align: center;
    color: white;
    font-weight: 500;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14.4px;
    height: 32px;
    padding-bottom: 1.5px;
}

.cancel-upload {
    background-color: lightgrey;
    float: left;
}

.submit-upload {
    background-color: green;
}

.change-profile-pic {
    position: absolute;
    height: 45%;
    width: 100%;
    /* left: 7%; */
    top: 55%;
    border-radius: 0 0 100px 100px;
    border: var(--default-border);
    background-color: white;
    opacity: .4;
    text-align: center;
    padding-top: 22px;
    cursor: pointer;
}
